medule.tech {

    reverse_proxy medule-frontend:3000

	handle /patients {
		reverse_proxy medule-api:5001
	}

	handle /schedule {
		reverse_proxy medule-api:5001
	}

	handle /medication {
		reverse_proxy medule-api:5001
	}

	handle /patients/* {
		reverse_proxy medule-api:5001
	}

	handle /schedule/* {
		reverse_proxy medule-api:5001
	}

	handle /medication/* {
		reverse_proxy medule-api:5001
	}

}